.center {
    margin: auto;
    width: 40%;
    padding: 10px;
}

#grad {
    background-image: linear-gradient(to bottom right, #6B7A8F , #ad5839);
}

a:link {
    color: black;
}	

a:visited {
    color: black;
}

a:hover {
    background: #ff8928;
}	

a:active {
    color: #101357;
}

html { 
    font-family: monospace;
    font-size: 2vw;
}

.responsive {
    max-width: 90%;
    height: auto;
}

.responsive .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.responsive:hover .img-top {
    display: inline;
}